/*--------------------------------------------------------------
# Content general
--------------------------------------------------------------*/
article {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	margin-bottom: 2em;

	.entry-header {

		.entry-title {
			margin-top: 1rem;
		}
	
		.entry-subtitle {
			margin-top: -1.25em;
			margin-bottom: 1.5em;
			font-weight: 600;
		}
	
		.entry-meta {
			margin-top: -1.25em;
			margin-bottom: 1.25em;
			font-size: .875em;
			color: $gray;
			.updated:not(.published) {
				display: none;
			}
		}

		img {
			display: block;
			margin-bottom: $base-spacing;
			width: 100%;
		}
	}

	.entry-footer {
		color: $medium-gray;
		font-size: .875em;
		.edit-links,
		.cat-links,
		.tags-links {
			display: block;
		}
		.icon {
			margin-right: .5em;
		}
	}

	.page-links {
		clear: both;
		margin: 0 0 1.5em;
	}

	.comments-link {
		float: right;
	}
}

/*--------------------------------------------------------------
# Content archives
--------------------------------------------------------------*/
.page-header {
	.page-title {
		font-size: 1em;
		text-transform: uppercase;
		margin-top: 2rem;
	}

	.archive-description {
		font-size: .9375em;	
	}
}

article.page {
	margin-bottom: 0;
}
