/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon {
	background-color: $ultralight-gray;

	.widget-area {
		@include clearfix();
		> div {
			@include span-columns(12);
			@include omega();
			@include media($medium) {
				@include span-columns(4);
			}
		}
	}
}

#socket {
	background-color: $light-gray;
	text-align: center;
	padding: $small-spacing;
	@include media($medium) {
		padding: $base-spacing;
	}
}
