/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon {
	background-color: $ultralight-gray;
	padding-top: 1.5em;

	.widget-area {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@extend .wrap;
		@include grid-media($medium) {
			flex-direction: row;
		}

		.widget {
	    	width: 100%;
			@include grid-media($medium) {
		    	padding-right: 40px;
		    	&:last-child {
			    	padding-right: 0;
		    	}
			}
		}
	}
}

#socket {
	background-color: $light-gray;
	text-align: center;
	padding: 1.5em;
}
