html .mceContentBody {
	max-width: 720px;
	color: #333333;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  padding: 1em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  padding-top: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 .67em;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 0.83em;
}

h3 {
  font-size: 1.17em;
  margin: 0 0 1em;
}

h4 {
  font-size: 1em;
  margin: 0 0 1.33em;
}

h5 {
  font-size: .83em;
  margin: 0 0 1.67em;
}

h6 {
  font-size: .67em;
  margin: 0 0 2.33em;
}

p {
  margin: 0 0 1.5em;
}

a {
  color: #1268a1;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

a:active, a:focus, a:hover {
  color: #0d4e78;
}

:focus {
  outline: #88b3d0 dotted 1px;
}

label {
  font-weight: 600;
}

hr {
  border-bottom: 1px solid #e6e5e5;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

blockquote {
  background: #f7f7f7;
  margin: 1.5em 0;
  padding: 1.5em;
  position: relative;
  quotes: "“" "”" "“" "’";
}

blockquote p {
  margin-bottom: .5em;
}

@media only screen and (min-width: 768px) {
  blockquote {
    padding-left: 4.5em;
  }
}

@media only screen and (min-width: 768px) {
  blockquote:before {
    color: #1268a1;
    content: open-quote;
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 1.5rem;
  }
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.larger {
  font-size: 1.125em;
}
