@charset "UTF-8";
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 600;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
a.button,
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1268a1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: normal;
}

a.button:hover, a.button:focus,
button:hover,
button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #0e5381;
  color: #fff;
}

a.button:disabled,
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a.button:disabled:hover,
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #1268a1;
}

.btn_container {
  margin: 0 0 1.5em;
}

.btn_container.left {
  text-align: left;
}

.btn_container.right {
  text-align: right;
}

.btn_container.center {
  text-align: center;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #e6e5e5;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b8b8b8;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1268a1;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(15, 89, 138, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #e6e5e5;
}

[type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #858585;
}

[type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
  color: #858585;
}

[type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #858585;
}

[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
.search-form {
  position: relative;
}

.search-form input[type="search"] {
  border-radius: 0;
}

.search-form .search-submit {
  border-radius: 0;
  bottom: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 37px;
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry-content ul,
.entry-content ol,
.widget-area ul,
.widget-area ol {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

.entry-content ul,
.widget-area ul {
  list-style: disc;
}

.entry-content ol,
.widget-area ol {
  list-style: decimal;
}

.entry-content li > ul,
.entry-content li > ol,
.widget-area li > ul,
.widget-area li > ol {
  margin-top: 0;
  margin-bottom: 0;
}

.entry-content li {
  margin-top: .25em;
  margin-bottom: .25em;
}

.entry-content li > ul,
.entry-content li > ol {
  margin-top: .25em;
  margin-bottom: .25em;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
figure {
  margin: 0;
}

/* Reponsive images */
img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/* Reponsive video embeds */
.embed-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 0.75em;
}

.embed-responsive embed,
.embed-responsive object,
.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Smileys */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: auto;
  width: 100%;
}

th {
  border-bottom: 1px solid #acacac;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #e6e5e5;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading p, .wf-loading span, .wf-loading li, .wf-loading td, .wf-loading .button, .wf-loading input {
  opacity: 0;
}

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-active p, .wf-active span, .wf-active li, .wf-active td, .wf-active .button, .wf-active input {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive h6, .wf-inactive p, .wf-inactive span, .wf-inactive li, .wf-inactive td, .wf-inactive .button, .wf-inactive input {
  opacity: 1;
}

body {
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  padding-top: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 .67em;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 0.83em;
}

h3 {
  font-size: 1.17em;
  margin: 0 0 1em;
}

h4 {
  font-size: 1em;
  margin: 0 0 1.33em;
}

h5 {
  font-size: .83em;
  margin: 0 0 1.67em;
}

h6 {
  font-size: .67em;
  margin: 0 0 2.33em;
}

p {
  margin: 0 0 1.5em;
}

a {
  color: #1268a1;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

a:active, a:focus, a:hover {
  color: #0d4e78;
}

:focus {
  outline: #88b3d0 dotted 1px;
}

label {
  font-weight: 600;
}

hr {
  border-bottom: 1px solid #e6e5e5;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

blockquote {
  background: #f7f7f7;
  margin: 1.5em 0;
  padding: 1.5em;
  position: relative;
  quotes: "“" "”" "“" "’";
}

blockquote p {
  margin-bottom: .5em;
}

@media only screen and (min-width: 768px) {
  blockquote {
    padding-left: 4.5em;
  }
}

@media only screen and (min-width: 768px) {
  blockquote:before {
    color: #1268a1;
    content: open-quote;
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 1.5rem;
  }
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.larger {
  font-size: 1.125em;
}

/*--------------------------------------------------------------
# Image URL mixin. Usage: get-image-url("image.png")
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.wrap, #masthead > div,
.content-area:not(.wide),
.content-area.wide .entry-content,
#comments,
#colophon .widget-area, .content-area.wide .row[data-stretch-type="standard"] .cols {
  max-width: 1160px;
  margin: 0 auto;
}

.padding, #masthead > div,
.content-area:not(.wide),
.content-area.wide .entry-content,
#comments,
#colophon .widget-area, .content-area.wide .row[data-stretch-type="standard"] .cols, .content-area.wide .row[data-stretch-type="stretched"] .cols {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .padding, #masthead > div,
  .content-area:not(.wide),
  .content-area.wide .entry-content,
  #comments,
  #colophon .widget-area, .content-area.wide .row[data-stretch-type="standard"] .cols, .content-area.wide .row[data-stretch-type="stretched"] .cols {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .content-area:not(.wide) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content-area:not(.wide) .site-main {
    width: 72%;
  }
  .content-area:not(.wide) .widget-area {
    margin-left: 3%;
    width: 25%;
  }
}

/*--------------------------------------------------------------
# Main navigation
--------------------------------------------------------------*/
#site-navigation::after {
  clear: both;
  content: "";
  display: block;
}

#site-navigation ul {
  display: none;
  list-style: none;
  margin: 0 0 1.5em;
  padding: 0;
}

#site-navigation ul ul {
  margin: 0;
}

#site-navigation ul ul a {
  text-transform: none;
  font-weight: normal;
}

#site-navigation ul a {
  color: #333333;
  background-color: #e6e5e5;
  display: block;
  font-size: .9375em;
  font-weight: bold;
  margin-bottom: .125em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: .5em 0;
}

#site-navigation ul a:active, #site-navigation ul a:hover {
  color: #1268a1;
}

#site-navigation ul a .icon {
  display: none;
}

#site-navigation ul .menu-item-description {
  font-size: .85em;
  font-weight: normal;
  color: #666666;
}

#site-navigation .current_page_item > a,
#site-navigation .current-menu-item > a,
#site-navigation .current_page_ancestor > a,
#site-navigation .current-menu-ancestor > a {
  color: #1268a1;
}

@media only screen and (min-width: 768px) {
  #site-navigation ul ul {
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    line-height: 1.2em;
    padding: 0;
    position: absolute;
    left: -999em;
    z-index: 99999;
  }
  #site-navigation ul ul ul {
    left: -999em;
    top: 0;
  }
  #site-navigation ul ul li:hover, #site-navigation ul ul li:focus {
    background: #f7f7f7;
  }
  #site-navigation ul ul li:hover > ul,
  #site-navigation ul ul li.focus > ul {
    left: 100%;
  }
  #site-navigation ul ul a {
    width: 180px;
    padding: 1em;
    text-align: inherit;
  }
  #site-navigation ul ul a .icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    float: right;
  }
  #site-navigation ul li {
    border: 0;
    float: left;
    position: relative;
  }
  #site-navigation ul li:hover > ul,
  #site-navigation ul li.focus > ul {
    left: auto;
  }
  #site-navigation ul a {
    background-color: inherit;
    margin-bottom: 0;
    padding: 1em;
  }
  #site-navigation ul a .icon {
    display: initial;
    margin-left: .375em;
    width: .5em;
  }
}

/*--------------------------------------------------------------
# Post navigation
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
  text-align: center;
  margin: 0 0 1.5em;
  width: 100%;
  clear: both;
}

.pagination .page-numbers {
  display: inline-block;
  font-size: .875em;
  padding: 0.375em 0.75em;
  margin: 0 2px 6px 0;
  border: 1px solid #e6e5e5;
  line-height: 1;
  text-decoration: none;
}

.pagination .page-numbers.current,
.pagination a.page-numbers:hover {
  background: #f7f7f7;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#masthead {
  background-color: #f7f7f7;
  position: relative;
}

#masthead > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  #masthead > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#masthead #site-logo {
  display: block;
  margin: 1em 0;
}

#masthead button {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*--------------------------------------------------------------
# Menu toggle
--------------------------------------------------------------*/
.menu-toggle,
#site-navigation.toggled ul {
  display: block;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  #site-navigation ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Hamburger menu
--------------------------------------------------------------*/
#masthead button {
  background-color: transparent;
  text-indent: -99999px;
  height: 50px;
  width: 50px;
}

#masthead button:hover, #masthead button:focus {
  background-color: transparent;
  color: initial;
}

#masthead button.is-active span {
  background: 0 0;
}

#masthead button.is-active span:before, #masthead button.is-active span:after {
  -webkit-transition-delay: 0s, .15s;
          transition-delay: 0s, .15s;
}

#masthead button.is-active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#masthead button.is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#masthead button span {
  display: block;
  position: absolute;
  top: 24px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #1268a1;
  -webkit-transition: background 0s .15s;
  transition: background 0s .15s;
}

#masthead button span:before, #masthead button span:after {
  background-color: #1268a1;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transition-duration: .15s, .15s;
          transition-duration: .15s, .15s;
  -webkit-transition-delay: .15s, 0s;
          transition-delay: .15s, 0s;
}

#masthead button span:before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  top: -10px;
}

#masthead button span:after {
  bottom: -10px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

/*--------------------------------------------------------------
# Content general
--------------------------------------------------------------*/
article {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 2em;
}

article .entry-header .entry-title {
  margin-top: 1rem;
}

article .entry-header .entry-subtitle {
  margin-top: -1.25em;
  margin-bottom: 1.5em;
  font-weight: 600;
}

article .entry-header .entry-meta {
  margin-top: -1.25em;
  margin-bottom: 1.25em;
  font-size: .875em;
  color: #807f7f;
}

article .entry-header .entry-meta .updated:not(.published) {
  display: none;
}

article .entry-header img {
  display: block;
  margin-bottom: 1.5em;
  width: 100%;
}

article .entry-footer {
  color: #b3b2b2;
  font-size: .875em;
}

article .entry-footer .edit-links,
article .entry-footer .cat-links,
article .entry-footer .tags-links {
  display: block;
}

article .entry-footer .icon {
  margin-right: .5em;
}

article .page-links {
  clear: both;
  margin: 0 0 1.5em;
}

article .comments-link {
  float: right;
}

/*--------------------------------------------------------------
# Content archives
--------------------------------------------------------------*/
.page-header .page-title {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 2rem;
}

.page-header .archive-description {
  font-size: .9375em;
}

article.page {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.row {
  /*--------------------------------------------------------------
	# Column Options
	--------------------------------------------------------------*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.row .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row .cols .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .row .cols.cols-1-small .col {
    -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .row .cols.cols-2 .col {
    -ms-flex-preferred-size: 48.5%;
        flex-basis: 48.5%;
  }
}

@media only screen and (min-width: 768px) {
  .row .cols.cols-3 .col {
    -ms-flex-preferred-size: 31.33%;
        flex-basis: 31.33%;
  }
}

@media only screen and (min-width: 768px) {
  .row .cols.cols-4 .col {
    -ms-flex-preferred-size: 48.5%;
        flex-basis: 48.5%;
  }
}

@media only screen and (min-width: 1024px) {
  .row .cols.cols-4 .col {
    -ms-flex-preferred-size: 22.5%;
        flex-basis: 22.5%;
  }
}

@media only screen and (min-width: 768px) {
  .row .cols.right-wide .col:first-child {
    -ms-flex-preferred-size: 31.825%;
        flex-basis: 31.825%;
  }
  .row .cols.right-wide .col:last-child {
    -ms-flex-preferred-size: 65.175%;
        flex-basis: 65.175%;
  }
}

@media only screen and (min-width: 768px) {
  .row .cols.left-wide .col:first-child {
    -ms-flex-preferred-size: 65.175%;
        flex-basis: 65.175%;
  }
  .row .cols.left-wide .col:last-child {
    -ms-flex-preferred-size: 31.825%;
        flex-basis: 31.825%;
  }
}

.row.padded {
  padding-top: 1.5em;
  padding-bottom: .5em;
}

@media only screen and (min-width: 768px) {
  .row.padded {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}

.row.gray {
  background-color: #f7f7f7;
}

.row.red {
  background-color: #d9553a;
}

.row.center {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .row.verticalcenter .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 2em 0;
  font-size: .9375em;
}

.widget .widgettitle {
  font-size: 1em;
  margin-bottom: 1em;
}

.widget select {
  max-width: 100%;
}

.widget li {
  padding: .25em 0;
}

/*--------------------------------------------------------------
# Social Widget
--------------------------------------------------------------*/
.widget_social ul li {
  border: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# recent Entries Widget
--------------------------------------------------------------*/
.widget_recent_entries span {
  display: block;
}

.widget_recent_entries .post-date {
  font-size: .875em;
}

/*--------------------------------------------------------------
# Calendar Widget
--------------------------------------------------------------*/
.widget_calendar table {
  margin: 0;
}

.widget_calendar caption {
  font-weight: 600;
  margin-bottom: .5em;
}

.widget_calendar td, .widget_calendar th {
  font-size: .875em;
  padding: 5px;
  text-align: center;
}

/*--------------------------------------------------------------
# RSS Widget
--------------------------------------------------------------*/
.widget_rss ul {
  list-style: none;
  margin: 0;
}

.widget_rss ul li {
  border-bottom: 1px solid #e6e5e5;
  color: #807f7f;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.widget_rss ul li:last-child {
  border-bottom: none;
}

.widget_rss .rss-widget-icon {
  float: right;
}

.widget_rss .rssSummary {
  font-size: .9375em;
  padding: .5em 0;
}

.widget_rss .rss-date, .widget_rss cite {
  display: block;
  font-size: .875em;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Tag Cloud widget
--------------------------------------------------------------*/
.tagcloud a {
  background-color: #f7f7f7;
  border: 1px solid #e6e5e5;
  border-radius: 3px;
  color: #333333;
  display: inline-block;
  font-size: .875em !important;
  line-height: 1;
  margin: 0 2px 6px 0;
  padding: 4px;
}

.tagcloud a:hover, .tagcloud a:focus {
  border-color: #1268a1;
  background-color: #1268a1;
  color: #fff !important;
  outline: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon {
  background-color: #f7f7f7;
  padding-top: 1.5em;
}

#colophon .widget-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  #colophon .widget-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#colophon .widget-area > div {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #colophon .widget-area > div {
    padding-right: 40px;
  }
  #colophon .widget-area > div:last-child {
    padding-right: 0;
  }
}

#socket {
  background-color: #e6e5e5;
  text-align: center;
  padding: 1.5em;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text, #masthead #site-branding span {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus, #masthead #site-branding span:focus {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #444;
  display: block;
  font-size: 0.875em;
  font-weight: 600;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft,
.alignright,
.aligncenter,
.alignnone {
  clear: both;
  display: block;
  margin: 1em auto;
}

@media only screen and (min-width: 768px) {
  .alignleft {
    display: inline;
    float: left;
    margin-right: 1em;
    margin-top: 0;
  }
  .alignright {
    display: inline;
    float: right;
    margin-left: 1em;
    margin-top: 0;
  }
  .alignnone {
    margin-right: 0;
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0 0 .75em;
  font-size: .875em;
  font-weight: 600;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
# SVG Icons base styles
--------------------------------------------------------------*/
.icon {
  display: inline;
  fill: currentColor;
  height: 1em;
  line-height: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;
}

/*--------------------------------------------------------------
# Social Widget
--------------------------------------------------------------*/
/* Social Media Brand Colors */
/* Social nav */
ul.social-links-menu {
  margin: 0 0 1.5em;
  list-style: none;
}

ul.social-links-menu::after {
  clear: both;
  content: "";
  display: block;
}

ul.social-links-menu li {
  display: inline;
  float: left;
  margin: 0 .125em;
  padding: .25em 0;
}

ul.social-links-menu a {
  background-color: #1268a1;
  border-radius: 1em;
  color: #fff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  height: 2em;
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.social-links-menu a:hover, ul.social-links-menu a:focus {
  background: #666666;
}

ul.social-links-menu a[href*="facebook.com"]:hover, ul.social-links-menu a[href*="facebook.com"]:focus {
  background: #3b5998;
}

ul.social-links-menu a[href$="/feed"]:hover, ul.social-links-menu a[href$="/feed"]:focus {
  background: #ff6600;
}

ul.social-links-menu a[href*="flickr.com"]:hover, ul.social-links-menu a[href*="flickr.com"]:focus {
  background: #ff0084;
}

ul.social-links-menu a[href*="plus.google.com"]:hover, ul.social-links-menu a[href*="plus.google.com"]:focus {
  background: #dd4b39;
}

ul.social-links-menu a[href*="instagram.com"]:hover, ul.social-links-menu a[href*="instagram.com"]:focus {
  background: #bc2a8d;
}

ul.social-links-menu a[href*="linkedin.com"]:hover, ul.social-links-menu a[href*="linkedin.com"]:focus {
  background: #007bb6;
}

ul.social-links-menu a[href^="mailto"]:hover, ul.social-links-menu a[href^="mailto"]:focus {
  background: #b3b2b2;
}

ul.social-links-menu a[href*="pinterest.com"]:hover, ul.social-links-menu a[href*="pinterest.com"]:focus {
  background: #cb2027;
}

ul.social-links-menu a[href*="skype"]:hover, ul.social-links-menu a[href*="skype"]:focus {
  background: #00aff0;
}

ul.social-links-menu a[href*="twitter.com"]:hover, ul.social-links-menu a[href*="twitter.com"]:focus {
  background: #00aced;
}

ul.social-links-menu a[href*="youtube.com"]:hover, ul.social-links-menu a[href*="youtube.com"]:focus {
  background: #bb0000;
}

/*--------------------------------------------------------------
# Galleries
--------------------------------------------------------------*/
.gallery {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

.gallery::after {
  clear: both;
  content: "";
  display: block;
}

.gallery img {
  display: block;
  width: 100%;
}

.gallery .gallery-item {
  margin-bottom: 1em;
  position: relative;
}

.gallery .wp-caption-text {
  background: rgba(255, 255, 255, 0.67);
  bottom: 0;
  font-size: .875em;
  position: absolute;
  width: 100%;
}

.gallery.gallery-columns-1 .gallery-item {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-2 .gallery-item {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-3 .gallery-item {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-4 .gallery-item {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-5 .gallery-item {
  width: calc(20% - 24px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-6 .gallery-item {
  width: calc(16.6666666667% - 23.3333333333px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-7 .gallery-item {
  width: calc(14.2916666667% - 22.8583333333px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-8 .gallery-item {
  width: calc(12.5% - 22.5px);
  float: left;
  margin-left: 20px;
}

.gallery.gallery-columns-9 .gallery-item {
  width: calc(11.1083333333% - 22.2216666667px);
  float: left;
  margin-left: 20px;
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comments-area {
  margin-bottom: 1.5em;
}

.comments-area .comments-title {
  font-size: 1.25em;
}

.comments-area ol.comment-list {
  font-size: .875em;
  list-style: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.comments-area ol.comment-list li.comment,
.comments-area ol.comment-list li.pingback {
  padding: 1em;
  margin-bottom: 0.75em;
  background: #f7f7f7;
}

.comments-area ol.comment-list li.comment.bypostauthor {
  border: 2px solid #e6e5e5;
}

.comments-area ol.comment-list li.comment img.avatar {
  float: right;
  margin: 0 0 1em 1em;
}

.comments-area ol.comment-list li.comment .comment-meta {
  margin-bottom: .5em;
}

.comments-area ol.comment-list li.comment .comment-meta .comment-awaiting-moderation {
  font-style: italic;
}

.comments-area ol.comment-list li.comment .comment-metadata {
  margin-bottom: 0.75em;
}

.comments-area ol.comment-list li.comment .comment-metadata a {
  color: #b3b2b2;
}

.comments-area ol.comment-list li.comment ol.children {
  padding: 0;
  list-style: none;
  margin: 0.75em 0;
}

.comments-area ol.comment-list li.comment ol.children li {
  margin-bottom: 0;
}

.comments-area ol.comment-list li.comment ol.children li.odd {
  background: white;
}

.comments-area .comment-respond .required {
  color: #d9553a;
}
