/*--------------------------------------------------------------
# SVG Icons base styles
--------------------------------------------------------------*/
.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative;
	vertical-align: middle;
	width: 1em;
}
